/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to bottom, #242582, grey);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 90%;
    margin: 0 4.5%;
  }
}
nav {
  background-color: #242582;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  width: 100%;
}
nav .links {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  nav .links {
    width: 100%;
  }
}
nav .links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.4rem;
  transition: 0.7s;
  text-align: center;
}
nav .links a:hover {
  color: #C9082A;
}
nav .links .btn-big {
  border: solid 1px #C9082A;
  border-radius: 5px;
  background-color: #C9082A;
  color: whitesmoke;
  transition: 0.5s;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
}
nav .links .btn-big:hover {
  color: #242582;
  background-color: #f5f5f5;
}
.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2.5%;
  background-color: #FFFFFF;
  border-radius: 15px;
  height: auto;
  align-items: center;
  margin-top: 3rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);
}
@media (max-width: 500px) {
  .jumbotron {
    flex-direction: column;
  }
}
.jumbotron .jumbo-text {
  width: 100%;
  margin: 2rem 5% 2rem 5%;
  padding: 2%;
}
.jumbotron .jumbo-text h1 {
  margin-bottom: 3rem;
  text-align: left;
}
.jumbotron .jumbo-text p {
  text-align: left;
}
.jumbotron .jumbo-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.jumbotron .jumbo-buttons a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.4rem;
  transition: 0.7s;
  text-align: center;
  color: #242582;
  font-size: 1.8rem;
}
.jumbotron .jumbo-buttons a:hover {
  color: #C9082A;
  font-size: 1.8rem;
}
.jumbotron .jumbo-buttons .btn-big {
  border: solid 1px #C9082A;
  border-radius: 5px;
  background-color: #C9082A;
  color: whitesmoke;
  transition: 0.5s;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}
.jumbotron .jumbo-buttons .btn-big:hover {
  color: #242582;
  background-color: #f5f5f5;
  font-size: 2rem;
}
.jumbotron img {
  width: 47.5%;
  height: auto;
}
.bg-img {
  background-image: url("../images/crowd.jpg");
  background-color: #CCCCCC;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 3rem;
}
.team-text h1 {
  color: #FFFFFF;
  font-size: 10rem;
  margin: 2rem;
}
.team-text h3 {
  margin: 3rem 0;
  color: #FFFFFF;
  font-size: 4rem;
}
.team-text a {
  border: solid 1px #C9082A;
  border-radius: 5px;
  background-color: #C9082A;
  color: whitesmoke;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem;
}
.team-text a:hover {
  color: #242582;
  background-color: #f5f5f5;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex: 33.33%;
  justify-content: space-around;
  margin: 2rem auto;
  max-width: 90%;
  padding: 2rem;
  border-radius: 14px;
}
@media (max-width: 500px) {
  .boxes {
    flex-direction: column;
    width: 100%;
  }
}
.boxes .appExplanation {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .boxes .appExplanation {
    margin: 2%;
  }
}
.boxes .appExplanation2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .boxes .appExplanation2 {
    margin: 2%;
  }
}
@media (max-width: 800px) {
  .boxes .appExplanation2 {
    margin-bottom: 8%;
  }
}
.boxes .box1 {
  background-color: #C9082A;
  width: 25%;
  align-content: center;
  padding: 2% 2%;
  border-radius: 14px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);
}
@media (max-width: 800px) {
  .boxes .box1 {
    width: 48%;
    margin: 2rem auto;
  }
}
@media (max-width: 500px) {
  .boxes .box1 {
    width: 100%;
    margin: 2rem auto;
  }
}
.boxes .box1 .btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 1px #242582;
  border-radius: 5px;
  background-color: #242582;
  color: whitesmoke;
  transition: 0.5s;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}
.boxes .box1 .btn-1:hover {
  color: #242582;
  background-color: #FFFFFF;
}
.boxes .box2 {
  background-color: #FFFFFF;
  width: 25%;
  align-content: center;
  padding: 2% 2%;
  border-radius: 14px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);
}
@media (max-width: 500px) {
  .boxes .box2 {
    display: none;
  }
}
@media (max-width: 800px) {
  .boxes .box2 {
    display: none;
  }
}
.boxes .box3 {
  background-color: #C9082A;
  width: 25%;
  align-content: center;
  padding: 2% 2%;
  border-radius: 14px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);
}
.boxes .box3 .btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 1px #242582;
  border-radius: 5px;
  background-color: #242582;
  color: whitesmoke;
  transition: 0.5s;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}
.boxes .box3 .btn-2:hover {
  color: #242582;
  background-color: #FFFFFF;
}
@media (max-width: 800px) {
  .boxes .box3 {
    width: 48%;
    margin: 2rem auto;
  }
}
@media (max-width: 500px) {
  .boxes .box3 {
    width: 100%;
    margin: 2rem auto;
  }
}
.teams {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.teams #lead {
  display: flex;
  flex-direction: column;
}
.teams #backend {
  display: flex;
  flex-direction: column;
}
.teams #ds {
  display: flex;
  flex-direction: column;
}
.teams #react {
  display: flex;
  flex-direction: column;
}
.teams #ui {
  display: flex;
  flex-direction: column;
}
.teams .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5rem 3rem 3rem 3rem;
}
.teams .card {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  margin: 0 2rem;
}
.teams .card img {
  width: 20rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}
@media (max-width: 800px) {
  .teams .card img {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .teams .card img {
    width: 100%;
    margin-top: 10%;
  }
}
.teams .card img a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.4rem;
  transition: 0.7s;
  text-align: center;
  color: #C9082A;
}
.teams .card img a:hover {
  color: #242582;
}
.teams .card h2 {
  color: white;
  margin: 5rem 0 0 0;
}
.teams .card .basket {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2%;
}
