.boxes {
    display: flex;
    flex-direction: row;
    flex: 33.33%;
    justify-content: space-around;
    margin: 2rem auto;
    max-width: 90%;
    padding: 2rem;
    // background-color: @main-color;
    border-radius: 14px;
    // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);

    @media @mobile{
        flex-direction: column;
        width: 100%;
    }

    .appExplanation {
        .description();
    }

    .appExplanation2 {
        .description();
      
        @media @tablet {
            margin-bottom: 8%;
        }
    }

    .box1{
        background-color: @accent-color;
        .box();

        @media @tablet {
            width: 48%;
            margin: 2rem auto;
        }

        @media @mobile {
            width: 100%;
            margin: 2rem auto;
        }

        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);

        .btn-1{
            .flexbox-around();
            .btn-about();
        }
        .btn-1:hover{
            color: @main-color;
            background-color: @second-color;
        }
    }

    .box2 {
        background-color: @second-color;
        .box();
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);
        .mixin();
        .mixin2();
    }


    .box3 {     
        background-color: @accent-color;
        .box();
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.33);

        .btn-2{
            .flexbox-around();
            .btn-about();
        }
        .btn-2:hover{
            color: @main-color;
            background-color: @second-color;
        }

        @media @tablet {
            width: 48%;
            margin: 2rem auto;
        }

        @media @mobile {
            width: 100%;
            margin: 2rem auto;
        }

    }
}

.teams{
    .flexbox-column();
    text-align: center;
    align-items: center;
    justify-content: center;

    #lead{
        .flexbox-column();
    }

    #backend{
        .flexbox-column();
    }

    #ds{
        .flexbox-column();
    }

    #react{
        .flexbox-column();
    }

    #ui{
        .flexbox-column();
    }

    .cards{
        .flexbox-center();
        margin: 3rem auto;
        width: 100%;
        
        border: 1px solid red;

        // @media @tablet {
        //     width: 100%;
        //     margin: 1rem auto;
        //     flex-wrap: wrap;
        // }

        @media @mobile {
            flex-direction: column;
            justify-content: center;
        }
    }

    .card{
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 2rem;
        margin: 0 2rem;
        width: auto;

        // @media @tablet {
        //     width: 25%;
        //     margin: auto;
        // }

        @media @mobile {
            width: 90%;
            margin: 1rem auto;
        }

        img{
            width: 20rem;
            border-radius: 25px;
            margin-bottom: 1rem;

            // @media @tablet {
            //     width: 75%;
            // }

            @media @mobile {
                display: none;
            }
        }

        a{
            .nav-button();
            color: @accent-color;
        }

        a:hover{
            color: @main-color;
        }
    }

    h2{
        color: white;
        margin: 5rem 0 0 0;
    }

    .basket {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 2%;
    }
}
