.boxes {
    display: flex;
    flex-direction: row;
    flex: 33.33%;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem;
    background-color: @main-color; 
    border-radius: 14px;

    .appExplanation {
        align-content: center;
        margin: 10% 0% 5%;
        align-items: center;
    }

    .box1{
        background-color: @accent-color;
        .box();

        .btn-1{
            .button-big();
            .flexbox-around();
            .btn-about();
    }
}

    .box2 {
        background-color: @second-color;
        .box();
    }


    .box3 {     
        background-color: @accent-color;
        .box();

        .btn-2{
            .button-big();
            .flexbox-around();
            .btn-about();
        }
    }
}
