// Button mixins
.nav-button(){
    text-decoration: none;
    color: whitesmoke;
    transition: 5ms;
    
    :hover{
        color: @accent-color;

    }
}

// flex mixins
.flexbox-around(){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-column(){
    display: flex;
    flex-direction: column;
}