// Button mixins
.nav-button(){
    text-decoration: none;
    color: whitesmoke;
    
}

// flex mixins
.flexbox-around(){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-column(){
    display: flex;
    flex-direction: column;
}